<style>
  .sentence-wrapper {
    display: flex;
    width: 100%;
    gap: 56px;
    margin-bottom: 64px;
  }

  article {
    margin-top: var(--pico-block-spacing-vertical);
  }

  .tree-root {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .tree-branch {
    border: 1px solid var(--pico-secondary-background);
    padding: 8px;
    margin: 8px 2px;
    border-radius: 10px;
    height: fit-content;
  }

  details {
    margin-bottom: 0;
  }
</style>

<h1>Spirituös</h1>
<hr />
<div class="sentence-wrapper">
  <div>
    <p><strong>{{ sentence.german }}</strong></p>
    <p>{{ sentence.english }}</p>
  </div>
  <audio controls src="{{ sentence.audio }}"></audio>
</div>
<div hx-get="/analyzis/{{ sentence.urlEncoded }}" hx-trigger="load" >
  <div aria-busy="true"></div>
</div>