<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="color-scheme" content="light dark">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
      <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
      <link rel="stylesheet" href="/style.css">
      <title>Spirituös</title>
  </head>
  <body>
    <main class="container">
      {{{body}}}
    </main>
  </body>
  <script>
    const saveButton =document.getElementById('save');
    saveButton.addEventListener('click', () => {
      saveButton.classList.add('bounce');

      setTimeout(() => {
        saveButton.classList.remove('bounce');
      }, 1200);
    });
  </script>
</html>